<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620010014992-182hnalprd90s82suq16o3pluavie7e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620010014992-182hnalprd90s82suq16o3pluavie7e7</string>
	<key>API_KEY</key>
	<string>AIzaSyCHqBzrnGzEuy-XXoqAJGyrFg6cVnj2Bb4</string>
	<key>GCM_SENDER_ID</key>
	<string>620010014992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.griotLegacySocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>griot-legacy-adc56</string>
	<key>STORAGE_BUCKET</key>
	<string>griot-legacy-adc56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620010014992:ios:f97017ddd47ee0a12bbd95</string>
</dict>
</plist>