<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="../../img/email/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Griot Legacy</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a href="/admin/dashboard" class="nav-link dashboard">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>

        </li>

        <li class="nav-item">
          <a href="/content/contentList" class="nav-link content">
            <i class="nav-icon fas fa-crosshairs"></i>
            <p>Content</p>
          </a>

        </li>

        <li class="nav-item has-treeview user">
          <a href="#" class="nav-link user">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Profile
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/user/editProfile" class="nav-link editProfile">
                <i class="far fa-circle nav-icon"></i>
                <p>Edit Profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user/changePassword" class="nav-link changePassword">
                <i class="far fa-circle nav-icon"></i>
                <p>Change Password</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user/logout" class="nav-link logout">
                <i class="far fa-circle nav-icon"></i>
                <p>Logout</p>
              </a>
            </li>
          </ul>
        </li>



        <li class="nav-item">
          <a href="/customer/customerList" class="nav-link customer">
            <i class="nav-icon fa fa-user"></i>
            <p>User Management</p>
          </a>

        </li>

        <li class="nav-item has-treeview user">
          <a href="#" class="nav-link advertisement">
            <i class="nav-icon fas fa-ad"></i>
            <p>
              Advertisement
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/content/advertisements" class="nav-link advertisementList">
                <i class="far fa-circle nav-icon"></i>
                <p>Advertisement List</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="/content/advertisementAdd" class="nav-link advertisementList">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Advertisement</p>
              </a>
            </li> -->
          </ul>
        </li>


        <li class="nav-item">
          <a href="/messages/customerMessages" class="nav-link contentManagement">
            <i class="nav-icon fas fa-comment"></i>
            <p>Contact Us Management</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/track/appUsageShow" class="nav-link tracking">
            <i class="nav-icon fa fa-mobile"></i>
            <p>App usage</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/customer/trackStorage" class="nav-link tracking">
            <i class="nav-icon fa fa-database"></i>
            <p>Track Storage uses</p>
          </a>
        </li>





        <!-- <li class="nav-item has-treeview shipper carrier dispatcher driver">
          <a href="#" class="nav-link shipper carrier dispatcher driver">
            <i class="nav-icon fas fa-user-friends"></i>
            <p>
              User Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/shipper/shipperList" class="nav-link shipperList">
                <i class="far fa-circle nav-icon"></i>
                <p>Shipper</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/carrier/carrierList" class="nav-link carrierList">
                <i class="far fa-circle nav-icon"></i>
                <p>Carrier</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dispatcher/dispatcherList" class="nav-link dispatcherList">
                <i class="far fa-circle nav-icon"></i>
                <p>Dispatcher</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/driver/driverList" class="nav-link driverList">
                <i class="far fa-circle nav-icon"></i>
                <p>Driver</p>
              </a>
            </li>
          </ul>

        </li> -->




      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>